@use 'variables';
@use 'auth';
@use 'form';

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background: variables.$color-bg;
    color: variables.$color-text;
}

html,
body {
    height: 100%;
}
